
<!-- dialog -->
<dialog class="mdl-dialog">

  <div v-if=" dialog == 'createWave' || dialog == 'editWave' ">
    <div class="mdl-dialog__content">
      <p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <form id="waveImg-form" action="/upload" method="post" enctype="multipart/form-data" style="visibility:hidden">
            <input type="file" name="file">
          </form>
          <img id="waveImg" :src=" wave.img || '/img/logo.png' " class="img-responsive" alt="" @click=" upload('waveImg') ">
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="waveName" v-model=" wave.name ">
          <label class="mdl-textfield__label" for="waveName">제목</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <textarea class="mdl-textfield__input" type="text" rows= "3" id="waveDesc" v-model=" wave.desc "></textarea>
          <label class="mdl-textfield__label" for="waveDesc">설명</label>
        </div>
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" @click=" createWave() " v-if=" dialog == 'createWave' ">시작</button>
      <button type="button" class="mdl-button" @click=" editWave( wave.old.name ) " v-if=" dialog == 'editWave' ">수정</button>
      <button type="button" class="mdl-button close" @click=" $('dialog')[0].close() ">취소</button>
    </div>
  </div>

  <form v-if=" dialog == 'deleteWave' || dialog == 'deleteUser' ">
    <div class="mdl-dialog__content">
      <p>
        정말 삭제하시겠습니까?
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" @click=" deleteUser() " v-if=" dialog == 'deleteUser' ">삭제</button>
      <button type="button" class="mdl-button" @click=" deleteWave( wave.name ) " v-if=" dialog == 'deleteWave' ">삭제</button>
      <button type="button" class="mdl-button close" @click=" $('dialog')[0].close() ">취소</button>
    </div>
  </form>

  <form v-if=" dialog == 'saveWave' ">
    <div class="mdl-dialog__content">
      <p>
        라이브를 종료하고 저장하시겠습니까?
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" @click=" saveWave() ">저장</button>
      <button type="button" class="mdl-button close" @click=" $('dialog')[0].close() ">취소</button>
    </div>
  </form>


</dialog>
<!-- end dialog -->


<!-- snackbar -->
<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
<!-- end snackbar -->
