
<!-- header -->
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row max-width">

    <!-- title -->
    <div class="mdl-layout-spacer mdl-layout--small-screen-only"></div>
    <h1 class="mdl-layout-title">
      {{ text.title }}
    </h1>
    <div class="mdl-layout-spacer"></div>

    <!-- user nav -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <img class="img-icon" :src=" me.img ">
      <a class="mdl-navigation__link" @click=" go( `/${ me.name }` ) ">
        {{ text.mypageButton }}
      </a>
      <a class="mdl-navigation__link">
        {{ text.logoutButton }}
      </a>
    </nav>

  </div>
</header>
<header class="mdl-layout__drawer mdl-layout--small-screen-only">

  <!-- user nav -->
  <nav class="mdl-navigation">
    <img class="img-icon" :src=" me.img ">
    <a class="mdl-navigation__link">
      <h5>
        {{ me.name }}
      </h5>
    </a>
    <a class="mdl-navigation__link" @click=" `/${ me.name }` ">
      {{ text.mypageButton }}
    </a>
    <a class="mdl-navigation__link">
      {{ text.logoutButton }}
    </a>
  </nav>

</header>
<!-- end header -->
