

<!-- search field -->
<div id="search-field" v-if=" page == '/' || page == '/search' ">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="searchKeyword">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" id="searchKeyword" name="k" v-model=" searchKeyword " @keyup=" search(searchKeyword) ">
      <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
    </div>
  </div>
</div>
<!-- end search field -->


<!-- main -->
<div class="main mdl-grid" v-for=" dj in me.following " v-if=" page == '/' ">
  <div class="mdl-cell mdl-cell--12-col">
    <h5>
      {{ dj.name }}
    </h5>
  </div>

  <div class="mdl-cell mdl-cell--4-col" v-for=" wave in dj.waves ">
    <div class="card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand" :style=" `background-image: url(${ wave.img })` "></div>

      <div class="mdl-card__supporting-text">
        <div class="mdl-card__title-text">
          {{ wave.title }}
        </div>
        <span class="mdl-card__dt-text">
          {{ wave.name }}
        </span>
        {{ wave.desc }}
      </div>
    </div>
  </div>

</div>
<!-- end main -->


<!-- search result -->
<div class="waves" class="mdl-grid" v-if=" page == '/search' ">

  <div class="mdl-cell mdl-cell--12-col">
    <h5>
      검색결과
    </h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col" v-for=" wave in waves ">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
          <div class="mdl-card__title card-img mdl-card--expand" :style=" `background-image: url(${ wave.img })` "></div>
        </div>
        <div class="mdl-cell mdl-cell--7-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
          <div class="mdl-card__title-text waves-title">
            {{ wave.title }}
          </div>
          <div class="mdl-card__supporting-text waves-text">
            {{ user.name }}
          </div>
          <div class="mdl-card__supporting-text waves-text">
            {{ wave.dt }}
          </div>
          <div class="space"></div>
          <div class="mdl-card__supporting-text waves-text">
            {{ wave.desc }}
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- end search result -->
