
<!-- intro -->
<section id="intro" class="slide">
  <!-- login -->
  <div>
    <img src="/img/logo.png" class="img-icon">

    <div class="content">
      <p>
        {{ text.intro }}
      </p>
      <a>
        <img class="login-button" src="/img/loginButton.png" alt="" @click=" location.href = '/login' ">
      </a>
    </div>

  </div>
</section>
<!-- end intro -->


<!-- join -->
<section id="join" class="slide">
  <div>
    <div class="content">
      <form id="userImg-form" action="/upload" method="post" enctype="multipart/form-data" style="display:none">
        <input type="file" name="file">
      </form>
      <img id="userImg" :src=" me.img || '/img/user.png' " class="img-icon" @click=" upload('userImg') ">

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="[ㄱ-힣A-Za-z0-9\-_]*" id="nickname" v-model=" me.name ">
        <label class="mdl-textfield__label" for="nickname">
          {{ text.nickname }}
        </label>
        <span class="mdl-textfield__error">
          {{ text.regexError }}
        </span>
      </div>
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-js-ripple-effect" @click=" changeMyInfo() ">
        {{ text.confirmButton }}
      </button>

    </div>

  </div>
</section>
<!-- end join -->
