
<div id="user-info" class="mdl-grid" v-if=" page == '/:user' ">

  <div class="mdl-cell mdl-cell--12-col">

  </div>

  <div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
    <div class="mdl-card__title card-img mdl-card--expand" :style=" `background-image: url(${ user.img })` "></div>
  </div>
  <div class="mdl-cell mdl-cell--7-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
    <div class="mdl-card__title-text search-title">
      {{ user.name }}
    </div>
    <div class="mdl-card__supporting-text search-text">
      <p>아이디: {{ user.id }}</p>
      <p>가입일자: {{ user.dt }}</p>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <h5>
          팔로잉
        </h5>
        <div class="demo-list-action mdl-list">

          <div class="mdl-list__item" v-for=" dj in user.following ">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">person</i>
              <span>
                {{ dj.name }}
              </span>
            </span>
            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">close</i></a>
          </div>

        </div>
      </div>

      <div class="mdl-cell mdl-cell--6-col">
        <h5>
          팔로워
        </h5>
        <div class="demo-list-action mdl-list">

          <div class="mdl-list__item" v-for=" dj in user.follower ">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">person</i>
              <span>
                {{ dj.name }}
              </span>
            </span>
          </div>

        </div>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
        <h5>
          최근 후원
        </h5>
        <div class="demo-list-action mdl-list">

          <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <div class="right-button">
                {{ me.dt }}
              </div>
              <span>
                {{ me.name }}
              </span>
              님으로부터 후원을 받았습니다.
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<!-- waves -->
<div class="waves" class="mdl-grid" v-if=" page == '/:user' ">

  <div class="mdl-cell mdl-cell--12-col">
    <div class="right-button" v-if=" me.id == user.id ">
      <button @click=" showDialog('createWave') " class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        새 작품
      </button>
    </div>
    <h5>
      작품<br><br>
    </h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col" v-for=" wave in user.waves ">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
          <div class="mdl-card__title card-img mdl-card--expand" :style=" `background-image: url(${ wave.img })` " @click=" go(`/${ wave.dj }/${ wave.name }`) "></div>
        </div>
        <div class="mdl-cell mdl-cell--7-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
          <div class="mdl-card__live-text" v-if=" wave.live ">
            ON AIR
          </div>
          <div class="mdl-card__title-text waves-title">
            {{ wave.name }}
          </div>
          <div class="mdl-card__supporting-text waves-text">
            {{ wave.dj }}
          </div>
          <div class="mdl-card__supporting-text waves-text">
            {{ wave.dt }}
          </div>
          <div class="space"></div>
          <div class="mdl-card__supporting-text waves-text">
            {{ wave.desc }}
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- end waves -->
