
<div id="user-info" class="mdl-grid" v-if=" page == '/:user' ">

  <div class="mdl-cell mdl-cell--12-col">

  </div>

  <div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
    <div class="mdl-card__title card-img mdl-card--expand" :style=" `background-image: url(${ user.img })` "></div>
  </div>
  <div class="mdl-cell mdl-cell--7-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
    <div class="mdl-card__title-text search-title">
      {{ user.name }}
    </div>
    <div class="mdl-card__supporting-text search-text">
      <p>아이디: rabbit</p>
      <p>아이디: {{ user.dt }}</p>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <h5>
          팔로잉
        </h5>
        <div class="demo-list-action mdl-list">

          <div class="mdl-list__item" v-for=" dj in user.following ">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">person</i>
              <span>
                {{ dj.name }}
              </span>
            </span>
            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">close</i></a>
          </div>

        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <h5>
          팔로워
        </h5>
        <div class="demo-list-action mdl-list">

          <div class="mdl-list__item" v-for=" dj in user.follower ">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">person</i>
              <span>
                {{ dj.name }}
              </span>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<!-- waves -->
<div class="waves" class="mdl-grid" v-if=" page == '/:user' ">

  <div class="mdl-cell mdl-cell--12-col">
    <h5>
      작품
    </h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col" v-for=" wave in user.waves ">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
          <div class="mdl-card__title card-img mdl-card--expand" :style=" `background-image: url(${ wave.img })` "></div>
        </div>
        <div class="mdl-cell mdl-cell--7-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
          <div class="mdl-card__title-text waves-title">
            {{ wave.name }}
          </div>
          <div class="mdl-card__supporting-text waves-text">
            {{ user.name }}
          </div>
          <div class="mdl-card__supporting-text waves-text">
            {{ wave.dt }}
          </div>
          <div class="space"></div>
          <div class="mdl-card__supporting-text waves-text">
            {{ wave.desc }}
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- end waves -->
