
<div id="wave" class="mdl-grid" v-if=" page == '/wave'">

  <div class="mdl-cell mdl-cell--12-col">
    <h5>방 이름 / 방 설명</h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <div id="mixer">

    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
      <b>USERS</b>
      <div id="users">
      </div>
    </div>
    <div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
      <div id="chat">
      </div>
      <input id="data" style="width:200px;"  />
      <input type="button" id="datasend" value="send" />
    </div>
  </div>

</div>
