
<div id="wave" class="mdl-grid" v-if=" page == '/:user/:wave' || page == '/wave' ">

  <div class="mdl-cell mdl-cell--12-col">
    <h6>
      <div class="right-button">
        <button v-if=" me.id == wave.dj " @click=" saveWave() " class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          방송 종료
        </button>
        <button v-if=" me.id != wave.dj " @click=" support( wave.dj ) " class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          후원하기
        </button>
      </div>

      <span class="wave-title"> {{ wave.name }} </span>
      <span class="wave-desc"> {{ wave.desc }} </span>
    </h6>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <div id="mixer">

    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
      <b>USERS</b>
      <div id="users">
      </div>
    </div>
    <div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
      <div id="chat">
      </div>
      <input id="data" style="width:200px;"  />
      <input type="button" id="datasend" value="send" />
    </div>
  </div>

</div>
