
/*
  mdl overide
*/
.mdl-layout__header-row {
  padding: 0;
}

.mdl-grid {
  margin: 4px;
  padding: 4px;
}

.mdl-card {
  width: 100%;
  min-height: 10px;
}
@media (min-width: 600px) {
  .mdl-card {
    width: 100%;
    min-height: 200px;
  }
}

.mdl-card__title {
  height: 100%;
  color: #FFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.mdl-card__title-text {
  cursor: pointer;
}

.link {
  cursor: pointer;
}


/*
  common
*/
.max-width {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-icon {
  max-width: 70%;
  max-height: 70%;
  height: auto;
  display: block;
  margin: auto;
}

div.space {
  margin: 10px;
}
span.space {
  width: 10px;
}

.card-square.mdl-card {
  height: 250px;
}

@media (min-width: 600px) {
  .card-img {
    width: 100%;
    min-height: 200px;
  }
}

a {
  cursor: pointer;
}

.right-button {
  position: absolute;
  right: 15px;
}


/*
  header
*/
header h1 {
  cursor: pointer;
}


/*
  slide
*/
.slide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #EEE;
  z-index: 999;
}
.slide > div {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
#intro .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10vh;
}
#join .content {
  position: absolute;
  width: 300px;
  left: 0;
  right: 0;
  margin: 10vh auto;
}
#join .content div {
  max-width: 70%;
  margin: 5vh auto;
}
.slide button {
  display: block;
  margin: 5px auto;
}
.slide .login-button {
  width: 200px;
  height: auto;
}


/*
  content
*/
#content {
  overflow: visible;
}


/*
  search-field
*/
#search-field {
  position: absolute;
  right: 16px;
  margin-top: 17px;
}
#search-field input[type=text] {
  text-align: center;
}


/*
  main
*/
.main .card-square.mdl-card {
  height: 250px;
}
.main .mdl-card__title-text {
  color: rgb(28, 98, 181);
  height: 30px;
  overflow: hidden;
}
.main .mdl-card__supporting-text {
  height: 100px;
  overflow: hidden;
}
.main .mdl-card__live-text {
  position: absolute;
  background: #F00;
  color: #FFF;
  right: 10px;
  padding: 3px 5px;
}
.main .mdl-card__dt-text {
  float: right;
}


/*
  waves
*/
.waves .waves-title {
  color: rgb(28, 98, 181);
}
.waves .waves-dj {
  color: rgb(28, 98, 181);
  cursor: pointer;
}
.waves .mdl-card__supporting-text.waves-text {
  padding: 0px;
}
.waves .mdl-card__live-text {
  position: absolute;
  background: #F00;
  color: #FFF;
  right: 10px;
  padding: 3px 5px;
}
.waves .waves-menu {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.waves .waves-menu i:hover{
  cursor: pointer;
  color: #3f51b5;
}


/*
  wave
 */
#wave .wave-title {
  font-size: 35px;
}
#wave .wave-desc {
  color: #444;
}



/*
  mixer
 */
#mixer canvas {
  width: 100%;
  height: auto;
}


/*
  dialog
 */
.mdl-dialog {
  top: 10vh;
}
